:root {
  --axcent: #2196f3;
  --main-text-color: #212121;
  --main-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --text-white: #ffffff;
  --text-grey: #757575;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.17;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

/* reset */

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 1600px;
}

.axcent {
  color: var(--axcent);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */
.nav-logo {
  margin-left: 215px;
  margin-right: 93px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  color: #000000;
  letter-spacing: 0.03em;
}

.header {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.header-nav {
  display: flex;
  align-items: center;
}

.nav-link:hover,
.nav-link:active {
  color: var(--axcent);
}

.nav-link.current-page {
  color: var(--axcent);
}

.nav-list {
  display: flex;
}

.nav-list .item + .item {
  margin-left: 50px;
}

.nav-link {
  color: var(--main-text-color);
}

.header-contact-list {
  display: flex;
  margin-right: 215px;
  margin-left: auto;
}

.header-contact-list .item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
}

.contact-list-item {
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  color: var(--text-grey);
}

.contact-list-item:hover,
.contact-list-item:active {
  color: var(--axcent);
}

/* hero */
.hero {
  background-color: var(--secondary-background-color);
  text-align: center;
  padding-bottom: 200px;
}

.hero-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-white);
  width: 696px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 30px;
}

.hero-button {
  border-radius: 4px;
  background-color: var(--axcent);
  color: var(--text-white);
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  padding: 10px 32px;
  cursor: pointer;
}

/* advantages */
.advantages-item-title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.advantages-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-grey);
}

/* specialization */
.specialization-title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
}

/* team */

.team {
  background-color: #f5f4fa;
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-list {
  background-color: var(--main-background-color);
}

.team-item-header {
  font-weight: 500;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-item-text {
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-grey);
}

/* footer */
.footer {
  background-color: var(--secondary-background-color);
  /* padding-left: 215px;
  padding-top: 60px; */
  padding: 60px 0px 60px 215px;
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  color: var(--text-white);
  letter-spacing: 0.03em;
}

.footer-address-list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address {
  color: var(--text-white);
  padding-top: 20px;
}

.footer-address:hover,
.footer-address:active {
  color: var(--axcent);
}

.footer-contact {
  color: rgb(255, 255, 255, 0.6);
  padding-top: 9px;
}

.footer-contact:hover,
.footer-contact:active {
  color: var(--axcent);
}

/* portfolio */
.button {
  border-radius: 4px;
  background-color: #f5f4fa;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
}

.button.start {
  color: var(--text-white);
  background-color: var(--axcent);
}

.button:hover,
.button:active,
.button:focus {
  color: var(--text-white);
  background-color: var(--axcent);
}

.case-item {
  border: 1px solid #eeeeee;
  border-radius: 0px;
}

.case-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 0.5;
  letter-spacing: 0.06em;
}

.case-text {
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-grey);
}
